/* body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.card-wrapper {
  border: 1px red;
  height: 300px;
  width: 350px;
  overflow: hidden;
}

.card-body-wrapper {
  height: 100%;
} */
.first-tier-header{
  margin-top: 2%;
}
.container{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
.card-container{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  padding: 1%;
}
.first-half {
  height: 80%; 
  overflow-y: auto;
}
.first-half .second-tier-header{
  font-size: 0.9vw !important;
}
.first-half .game-title{
  height: 20%;
}
.first-half .game-summary{
  font-size: 1.5vw;
  height: 45%;
  margin: 3% 0;
}
.first-half .text{
  font-size: 1.5vw !important;
}
button{
  border: none;
  background: none;
}
.button {
  background-color: red;
  font-size: 1.2vw;
  padding: 2vh 2.4vw;
  width: var(--box-width);
  height: var(--box-height);
  box-shadow: none !important;
}
.button:hover {
  /* box-shadow: none; */
  color: white;
  transform: none !important;
}
.find-out-more-button{
  bottom: 0;
}
@media (max-width:1070px){
  .card-container{
    height: 200px;
  }
}
@media (max-width:920px){
  .first-half .second-tier-header{
    font-size: 1vw !important;
  }
  .first-half .text{
    font-size: 1.8vw !important;
  }
}
@media (max-width: 650px){
  .card-container .first-half{
    height: 80%;
  }
  .card-container{
    height: 150px;
    width: 45%;
  }
}