/* Font Related */
.title{
    text-align: center;
    font-size: 3.7vw;
    width: 40%;
}
.sub-title{
    padding-top: 5%;
    font-size: 1.2vw;
}
/* Font Related */

.contact-point{
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.games-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 70%;
    margin: 3% 0%;
}
.image-containerr{
    border: 1px solid white;
    height: 100%;
    width: 100%;
}
.image-containerr > img{
    height: 100%;
    width: 100%;
}
.text-container{
    padding: 2%;    
}
a{
    text-decoration: none;
}
.second-tier-header{
    font-size: 2vw;
}
.text{
    font-size: 2vw;
}
.how-to-text{
    margin-bottom: 8%;
}
.how-to-text:hover{
    color: #7e7e7e;
    transition: 0.4s;
    cursor: pointer;
}

.review-section{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    align-items: center;
}
.review-text{
    margin-top: 2%;
    width: 60%;
    text-align: center;
    font-size: 2.3vw;
}
.feedback-form{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 60%;
}
#name, #feedback{
    color: black;
}
input{
    margin-top: 1%;
    font-family: 'Atlantis International';
    padding: 1%;
}
.text-area{
    margin-top: 1%;
    font-family: 'Atlantis International';
    padding: 1%;
    height: 50vh;
}
.submit-button{
    border: none;
    margin-top: 2%;
}

@media (max-width: 700px){
    .title{
        font-size: 5vw;
    }
    .sub-title{
        font-size: 1.5vw;
    }
    .first-tier-header{
        font-size: 3.5vw;
    }
    .second-tier-header{
        font-size: 2.5vw;
    }
    .text{
        font-size: 3vw;
    }
}
@media (max-width: 575px){
    .second-tier-header{
        margin-top: 2%;
    }
    .how-to-text{
        margin-bottom: 4%;
    }
}
@media (max-width: 400px){
    
}