/* body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.card-wrapper {
  border: 1px red;
  height: 300px;
  width: 350px;
  overflow: hidden;
}

.card-body-wrapper {
  height: 100%;
} */
.container{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
.card-container{
  border: 1px solid white;
  width: 30%;
  height: 300px;
  padding: 1%;
}
.second-tier-header{
  font-size: 0.9vw !important;
}
.game-title{
  height: 16.5%;
}
.game-summary{
  height: 45%;
  margin: 3% 0;
}
.text{
  font-size: 1.3vw;
}
button{
  border: none;
  background: none;
}
.button {
  background-color: red;
  font-size: 1.2vw;
  padding: 2vh 2.4vw;
  width: var(--box-width);
  height: var(--box-height);
  box-shadow: none !important;
}
.button:hover {
  /* box-shadow: none; */
  color: white;
  transform: none !important;
}
